<h2>Inbuilt Pipes</h2>
<hr>
<h3>
    {{str}}<br>
    {{str | lowercase}}<br>
    {{str | uppercase}}<br>
    {{str | slice : 5 : 11}}<br>
    <br>
    {{ amt }}<br>
    {{ amt | currency }}<br>
    {{ amt | currency : 'INR' }}<br>
    {{ amt | currency : 'JPY' }}<br>
    {{ amt | currency : 'SAR' }}<br>
    <br>
    {{ dt }}<br>
    {{ dt | date }}<br>
    {{ dt | date : 'short' }}<br>
    {{ dt | date : 'medium' }}<br>
    {{ dt | date : 'long' }}<br>
    {{ dt | date : 'full' }}<br>
    <br>
    {{ dt | date : 'dd/MM/yyyy' }}<br>
    {{ dt | date : 'dd/MM/yyyy hh:mm:ss' }}<br>


    <br>
</h3>