.welcome-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.welcome-heading {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.welcome-subheading {
    font-size: 24px;
    color: #666;
    margin-bottom: 40px;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.feature {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.feature i {
    font-size: 48px;
    margin-bottom: 20px;
}

.feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 18px;
    color: #666;
}
