.calculator-container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
    text-align: center;
}
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.tab {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #007bff;
    border-radius: 5px 5px 0 0;
    background: #007bff;
    color: white;
    margin: 0 5px;
}
.tab.active {
    background: white;
    color: black;
    border-bottom: 2px solid white;
}
.tab-content {
    display: none;
    text-align: left;
}
.tab-content.active {
    display: block;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input, select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.calculate-btn {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.error {
    color: red;
}

#emiResult {
    font-size: 2rem; 
    font-weight: bold; 
    color: #007bff; 
    display: block; 
    margin-top: 10px;
}

#maturityResult{
    font-size: 2rem; 
    font-weight: bold; 
    color: #007bff; 
    display: block; 
    margin-top: 10px;
}